<br>
<form method="post" action="/exhibits/<%= @exhibit.id %>">
  <label for="title">Title:</label>
  <input id="title" type="text" name="title" value="<%= @exhibit.title %>" />


  <label for="date_made">Date Released:</label>
  <input id="date_made" type="date" name="date_made" value="<%= @exhibit.date_made %>"/>


  <label for="category">Select a genre:</label>
  <input id="category" type="text" name="category" value="<%= @exhibit.category %>"/>

  <label for="artist">Select an artist:</label>
  <select id="artist_id" name="artist_id" >
    <% @artists.each do |artist| %>
    <option <%= "selected" if artist.id == @exhibit.artist_id %> value="<%= artist.id %>"><%= artist.full_name %></option>
    <% end %>
  </select>

  <label for="Link">Link:</label>
  <input id="link" type="text" name="link" value="<%= @exhibit.link %>"/>

  <input type='submit' value="Amend exhibition details"/>

</form>
