<h2>Exhibits</h2>
<h3>Filter by genres</h3>
<form method="get" action="/exhibits">

  <label for="catgeory_id">Select a genre:</label>
  <select id="category_id" name="category_id" >
    <% @categories.each do |category| %>
    <option value="<%= category.id %>"><%= category.name %></option>
    <% end %>
  </select>

  <input type='submit' value="Search"/>

</form>
<form method="get" action="/exhibits">

  <label for="artist_id">Select an artist:</label>
  <select id="artist_id" name="artist_id" >
    <% @artists.each do |artist| %>
    <option value="<%= artist.id %>"><%= artist.full_name %></option>
    <% end %>
  </select>

  <input type='submit' value="Search"/>

</form>
<form method="get" action="/exhibits">

  <input type='submit' value="Reset"/>

</form>

<ul>
  <% @exhibits.each do |exhibit| %>
  <li>Title: <%= exhibit.title %></li>
  <br>
  <li>Category: <%= exhibit.category.name %></li>
  <br>
  <li>Date Released: <%= exhibit.date_made %></li>
  <br>
  <li>By Artist: <a href="/artists/<%= exhibit.artist_id %>"><%= exhibit.artist.full_name %></a></li>
  <br>
  <li>Video: </li><iframe width="560" height="315" src="<%= exhibit.link %>rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  <br>
  <hr />
  <% end %>
</ul>
