<h3>Filter by genres or artists</h3>
<br>
<div class="forms">
<form method="get" action="/exhibits">

  <label for="catgeory_id">Select a genre:</label>
  <select id="category_id" name="category_id" >
    <% @categories.each do |category| %>
    <option value="<%= category.id %>"><%= category.name %></option>
    <% end %>
  </select>

  <input type='submit' value="Search"/>

</form>
<br>
<form method="get" action="/exhibits">

  <label for="artist_id">Select an artist:</label>
  <select id="artist_id" name="artist_id" >
    <% @artists.each do |artist| %>
    <option value="<%= artist.id %>"><%= artist.full_name %></option>
    <% end %>
  </select>

  <input type='submit' value="Search"/>

</form>
<form method="get" action="/exhibits">

  <input type='submit' value="Reset"/>

</form>
<div>
<br>

<ul class="grid-wrapper">
  <% @exhibits.each do |exhibit| %>
  <li class="list-items">Title: <a href="/exhibits/<%= exhibit.id %>"><%= exhibit.title %></a><br>
  <iframe width="200" height="200" src="<%= exhibit.link %>rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></li>
  <% end %>
</ul>
