<h2>Exhibit details: </h2>

<ul>
  <li>Title: <%= @exhibit.title %></li>
  <br>
  <li>Category: <%= @exhibit.category %></li>
  <br>
  <li>Date Released: <%= @exhibit.date_made %></li>
  <br>
  <li>By Artist: <%= @exhibit.artist.full_name %></li>
  <br>
  <li>Video: </li><iframe width="560" height="315" src="<%= @exhibit.link %>rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  <br>
</ul>
