<h3>Manager access</h3>
<br>
<div class="wrapper">
  <div class="options">
    <h4>Artists</h4>
    <p class="btn--wrapper">
      <a class="btn btn--action" href="/artists/new">New Artist</a>
    </p>
    <br>
    <ul>
      <% @artists.each do |artist| %>
      <li> <%= artist.full_name %> <a href="/artists/<%= artist.id %>">Show</a> <a href="/artists/<%= artist.id %>/edit">Edit</a>
        <form method="post" action="/artists/<%= artist.id %>/delete">
          <input id='hidden' type='hidden' name='_method' value='delete'/>
          <input type='submit' value='Delete'/>
        </form>
      </li>
      <br>
      <% end %>
    </ul>
  </div>

  <div class="options">
    <h4>Exhibits</h4>
    <p class="btn--wrapper">
      <a class="btn btn--action" href="/exhibits/new">New Exhibit</a>
    </p>
    <br>
    <ul>
      <% @exhibits.each do |exhibit| %>
      <li> <%= exhibit.title %> <a href="/exhibits/<%= exhibit.id %>">Show</a> <a href="/exhibits/<%= exhibit.id %>/edit">Edit</a>
        <form method="post" action="/exhibits/<%= exhibit.id %>/delete">
          <input id='hidden' type='hidden' name='_method' value='delete'/>
          <input type='submit' value='Delete'/>
        </form>
      </li>
      <br>
      <% end %>
    </ul>
  </div>

  <div class="options">
    <h4>Categories</h4>
    <p class="btn--wrapper">
      <a class="btn btn--action" href="/categories/new">New Category</a>
    </p>
    <br>
    <ul>
      <% @categories.each do |category| %>
      <li> <%= category.name %> <a href="/categories/<%= category.id %>/edit">Edit</a>
        <form method="post" action="/categories/<%= category.id %>/delete">
          <input id='hidden' type='hidden' name='_method' value='delete'/>
          <input type='submit' value='Delete'/>
        </form>
      </li>
      <br>
      <% end %>
    </ul>
  </div>
</div>
