<h3>Filter by exhibits</h3>
<br>
<div class="forms">
  <form method="get" action="/artists">

    <label for="artist_id">Select an exhibit:</label>
    <select id="artist_id" name="artist_id" >
      <% @exhibits.each do |exhibit| %>
      <option value="<%= exhibit.artist.id %>"><%= exhibit.title %></option>
      <% end %>
    </select>

    <input type='submit' value="Search"/>

  </form>

  <form method="get" action="/artists">

    <input type='submit' value="Reset"/>

  </form>
</div>
<br>

<ul class="grid-wrapper">
  <% @artists.each do |artist| %>
  <li class="list-items">Name: <a href="/artists/<%= artist.id %>"><%= artist.full_name %></a>
    <img width="200" height="200" src="<%= artist.link %>"/>
  </li>
    <br>
    <% end %>
  </li>
</ul>
